@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Oswald:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 2rem 0;
}

body {
  background: radial-gradient(circle at top, #1a1a1a, #0d0d0d);
  color: #fff;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

#main-game {
  margin-top: 4rem;
}

#rules, .result {
    width: 80%;
    margin: 2rem auto;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #989898;
}

#rules p, .result {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 3px;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
}

form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin: 3rem auto;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form > input[type="number"] {
  width: 60px;
  height: 80px;
  text-align: center;
  color: #e0e0e0;
  background: transparent;
  border: none;
  border-bottom: 4px solid #e0e0e0;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  outline: none;
  transition: all 0.2s ease;
}

form > input[type="text"]:focus {
  border-color: #4ade80;
  transform: scale(1.1);
}

#responses {
  padding-bottom: 1rem;
}

.response {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Inter', sans-serif;
}

#attempts {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #c0c0c0;
  margin-top: -1rem;
}

.response span {
  min-width: 50px;
  text-align: center;
  transition: transform 0.2s ease;
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.response span:not(:first-child) {
  margin-left: 28px;
}

.response span:hover {
  transform: scale(1.2);
}

.lose-message {
  color: #f87171;
  text-shadow: 0 0 12px rgba(255, 80, 80, 0.914);
}

.win-message {
  color: #34d399;
  text-shadow: 0 0 12px rgba(61, 255, 61, 0.753);
}